.toolbar {
  min-height: 4rem;
}
.title {
  margin-top: 5% !important;
}
.emptyButton {
  min-width: 150px;
}
.checkoutButton {
  min-width: 150px;
}
.link {
  text-decoration: none;
}
.cardDetails {
  display: flex;
  margin-top: 10%;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart {
  margin-top: 2.5% !important;
  text-decoration: none !important;
  
}
.buttons {
  min-width: 50% !important;
  display: flex !important;
  justify-content: space-around !important;
  flex-wrap: wrap;
}
.button {
  width: 40% !important;
}
