.form {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-wrap: nowrap;
  padding-right: 1rem;
}
.formTitle {
  margin-left: 1rem !important;
}
.formContent {
  width: fit-content !important;
  margin: 1rem 1rem 0 !important;
  justify-content: space-between;
  display: flex;
}
.textField {
  width: 40%;
  margin-bottom: 1rem;
  height: 2rem;
  font-size: 18px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}
.textField:focus {
  outline: 2px solid #1e90ff;
  border-radius: 5px;
  border: none;
}
.address {
  padding: 0 !important;
}
.addressSelect {
  width: 90% !important;
}
.singleAddressSelect {
  margin-left: 10% !important;
}
.buttons {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .textField {
    width: 100% !important;
  }
  .address {
    width: 100% !important;
  }
  .addressSelect {
    width: 100% !important;
  }
  .singleAddressSelect {
    margin-left: 0 !important;
  }
  .buttons {
    width: 90%;
  }
}
